* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: #0F1F37;
    height: 100vh;
    display: flex;
    padding: 100px;
    padding-left: 350px;
}

.first {
    margin-right: 20px;
}

.first{
    height: 350px;
}

.second{
    height: 300px;
}

.first,
.second {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px 8px 32px 0px rgba(31, 38, 135, 0.30);
    width: 300px;
    padding: 10px;
}

.heading {
    display: flex;
    width: 100%;
    margin: auto;
}

.title {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 50%;
}

.close {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 50%;
    padding-left: 120px;
}

.google {
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    padding: 5px;
    margin-top: 5px;
}

.contain {
    color: #FFF;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    width: 80%;
    margin-left: 70px;
}

.data {
    margin-top: 4px;
}

.data h6 {
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.data .input {
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    color: rgba(255, 255, 255, 0.50);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px;
    margin-top: 2px;
}

.terms {
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 5px;
}

.terms span {
    color: rgba(255, 255, 0, 0.6);
    text-decoration: underline;
}

.button {
    background-color: rgba(255, 255, 0, 0.6);
    border-radius: 2px;
    margin-top: 5px;
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.hr {
    background: rgba(255, 255, 255, 0.80);
    margin-top: 10px;
}

.option {
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5px;
    text-align: center;
}

.option span {
    color: #FF0;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}