body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.weather-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: 0px auto;
}

.search-container {
    margin-bottom: 20px;
}

input {
    padding: 8px;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.chart {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    width: 50%;
    margin: 0px auto;
}

.data-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data-container .data .item {
    display: flex;
}

.data-container .data .item .title {
    font-weight: bold;
}

#city {
    text-transform: capitalize;
}

#loader{
    position: absolute;
    display: none;
}

@media only screen and (max-width: 1000px) {
    .weather-container {
        width: 75%;
    }
    .chart {
        width: 75%;
    }
}

@media only screen and (max-width: 1000px) {
    .weather-container {
        width: 100%;
    }
    .chart {
        width: 100%;
    }
}